.product-card {
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-img {
    transition: transform 0.3s ease;
}

.product-img:hover {
    transform: scale(1.1);
}